<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
    <a href="{% url "user:logout" %}">Logout</a>
    <a href="{% url 'jobs:create-job' %}" >Add job</a>
    <a href="{% url 'jobs:create-job' %}" >Edit users</a>
    <h3>Welcome {{ user.username }},</h3>
    <hr>
    <h4>Opened Vacancy</h4>
    {% include 'Job/list-job.html' %}
    <hr>
    <h4>Interviewee Applied:</h4>

{% else %}
    <a href="{% url "user:login" %}">Login</a>
{% endif %}
</body>
</html>