<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
{% if user.is_authenticated %}
    <a href="{% url "user:logout" %}">Logout</a>
{% else %}
    <a href="{% url "user:login" %}">Login</a>
{% endif %}
<h1>Available Jobs</h1>
<hr>
{% for job in jobs %}
    <div>
        <h3>{{ job.title }}</h3>
        <h5>{{ job.required_position }}</h5>
        <h6>{{ job.team_lead }}</h6>
{#        <a href="{% url 'user:login' job.pk %}"></a>#}
        <hr>
    </div>
{% endfor %}
<hr>

</body>
</html>